

/* https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
picture,
blockquote,
figure {
    margin: 0;
}


ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





img,
picture {
    max-width: 100%;
    display: block;
}

select,
input,
button,
textarea {
    font: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* ****** base font-sizing ****** */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
    text-rendering: optimizeSpeed;
    margin: 0;
    line-height: 1.5;
    color: white;
}

label {
    font-size: 1.5rem;

}
select {
    margin-left: 1rem;
    background-color: hsl(274, 54%, 43%);
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    color: white;
}

/* ****** layout ****** */
.main {
    display: grid;
    grid-template-areas: 
        "title"
        "subtitle"
        "generate"
        "results";

    height: 100vh;
    place-items: center;
    margin: 0 2rem;
    border: solid red;
}

.main > * {
    text-align: center;
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.title {
    color: white;
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.green-span-title {
    color: hsla(160, 84%, 39%, 1);
    display: block;
    margin-left: 2rem;
}

.sub-title {
    font-size: 1.5rem;
}

.inputs {

}

#top {
    height: 200px;
    margin-bottom: 20px;
} 

#generate-btn {
    display: block;
    
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
    gap: 2rem;
    height: 200px;
    
}


/* ******conditional classes ****** */
.password-invisible {
    display: none;
    border: none;
    color:hsla(215, 28%, 17%, 1);
}

.password-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orangered;   
    border-radius: 5px;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.span-text {
    margin-left: 1rem;
    font-style: italic;
}